body{
    background-color: rgb(173, 71, 33);position: fixed;
}
h3{
    color: white;font-size: 30px;font-family: sans-serif;
}
.rana{
    position: relative;left: 650px;
}
#love{
    position: relative;left: 650px;
}
input{
    width: 250px;height: 30px;border-radius: 20px;font-size: 15px;font-family: sans-serif;
    border: 1px white;
}
::placeholder{
    position: relative;left: 10px;
}
#box{
    width: 20px;height: 15px;
}
label{
    font-size: 22px;font-family: sans-serif;font-weight: bold;color: white;
}
button{
    width: 100px;height: 30px;border-radius: 20px;font-size: 18px;
    background-color: red;border: transparent;color: white;
}
button:hover{
    background-color: white;color: black;
}
.hate{
    width: 100;height: 580px;position: relative;bottom: 590px;
    background-color: black;left: 230px;
}